# .env file example
# This file should be copied to .env and edited to match your environment
LANG="C.UTF-8"
NAME="PythonDev"
OS="linux"
PYTHON_VERSION="3.12.1"
SHELL="/bin/bash"
TZ="UTC"
USER_HOME="/home/pythondev"
USERNAME="pythondev"
VERSION="0.0.1"